API_BASE_URL = https://runwar-backend-484753220670.us-central1.run.app
MAPBOX_ACCESS_TOKEN = YOUR_MAPBOX_ACCESS_TOKEN
GOOGLE_CLIENT_ID = com.googleusercontent.apps.YOUR_GOOGLE_CLIENT_ID
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.YOUR_GOOGLE_CLIENT_ID_REVERSED
APPLE_ASSOCIATED_DOMAIN = applinks:your.domain.com
APPLE_SERVICE_ID = YOUR_APPLE_SERVICE_ID
APPLE_TEAM_ID = YOUR_APPLE_TEAM_ID

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
